.nav-contacts {
    @extend .list;
    
    
    @media screen and (min-width: 768px) {  
        padding-top: 17px;
        padding-bottom: 17px;   
        text-align: left;  
        
    }
    
    @media screen and (min-width: 1200px) {    
        display: flex;
        align-items: center;  
        padding: 0;      

    }
}
  
.nav-contacts-item {
    @media screen and (min-width: 1200px) { 
        display: flex;
    }
    
    
}

.nav-contacts-item:not(:last-child) {
    margin-bottom: 16px;  

    @media screen and (min-width: 768px) {  
        margin-bottom: 10px;
        
    }
    
    @media screen and (min-width: 1200px) { 
        margin-bottom: 0;
        margin-right:30px;
    }
}

.nav-contacts-link {
    @extend .link;     
    display: flex;  
    align-items: center;
    justify-content: center;
    color: $primary-text-color;  
    font-weight: 500;
    font-size: 18px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    fill: $primary-text-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
      color: $accent-color;  
    
    }

    @media screen and (min-width: 768px) { 
        font-size: 12px;         
        justify-content: start;
        
    }
    @media screen and (min-width: 1200px) { 
        padding-top: 32px;
        padding-bottom: 32px;
        font-size: 14px;
        line-height: 1.14;  
        
    }
}

.nav-contacts-icon {
    margin: 0;
    margin-right: 10px;
    
    .nav-contacts-link:focus &,
    .nav-contacts-link:hover &  {
       fill: $accent-color;  
     } 
    
}
