.footer-section {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;

}

.page-footer {  
    @media screen and (min-width: 768px) {   
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
                    
    }    
   
    
}

.footer-contacts {
    text-align: center;
    margin-bottom: 60px;
    
    @media screen and (min-width: 1199px) {   
        text-align: left;
        margin-bottom: 0;
        margin-right: 69px;
                    
    }  
}

.footer-contacts .logo {
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
}

.logo-footer {
    color: $primary-white-color;  
    
}

.footer-address {
    margin-top: 0;
    margin-bottom: 9px;
    color: $primary-white-color;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}

.footer-contacts-list {
    @extend .list;
}

.footer-mail,
.footer-tel {
    @extend .link;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 9px;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color:$accent-color;  
    }
}
.footer-tel {
    margin-bottom: 0;
}

/* footer-socials */

.footer-join {
    
    @media screen and (max-width: 767px) {   
        
        margin-bottom: 60px;
                    
    }
    @media screen and (min-width: 1200px) {   
       
        margin-right: 94px;
                    
    }
}

.join {
    margin-bottom: 20px;
    text-align: center;
    color: $primary-white-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-socials-list {
    @extend .list;
    display: flex;
    justify-content: center;
}

.footer-socials-item {
    // width: calc((100% - 30px)/4);
    margin-right: 10px;
    &:last-child {
        margin-right: 0; 
    }

}

.footer-socials-link {
    @extend .link;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;  

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $accent-color;  
    }
}

.footer-social-icon {
    fill:  $primary-white-color;
}


