.main-header {
    position: relative;    
    border-bottom: 1px solid #ECECEC;

    
    
}

.page-nav {          
    display: flex;
    align-items: center;
    justify-content: space-between; 
    min-height: 60px;  
    padding: 10px 0;

    @media screen and (min-width: 768px) {            
        padding: 0;
        align-items: center;
    }
}