body {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: $primary-white-color;
  color: $primary-text-color;
  font-family: $primary-font-family;

  &.modal-open {
    overflow: hidden;
  }
}

.link {
  padding: 0;
  margin: 0;
  color: $title-text-color;
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; 
  
  
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

picture {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

.visually-hidden {
  position: absolute ;
  height: 1px; 
  width: 1px; 
  margin: -1px;
  padding:0 ;
  border:0 ;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

